body {
  background-color: #F08080;
  font-family: Arial, sans-serif;
  font-size: 85%;
  margin: 0 auto; /* Centraliza o conteúdo horizontalmente */
  max-width: clamp(320px, 80%, 1200px);
  padding: 3px; 
  position: relative; 
  min-height: 110vh;
  display: flex;
  flex-direction: column;
}

a:link {
  /* Links não visitados */
  color: blue;
}

a:visited {
  /* Links visitados */
  color: purple;
}

a:hover {
  /* Cursor ativo */
  color: red;
  text-decoration: underline;
}

a:active {
  /* Links aivos */
  color: green;
}

.container {
  display: flex;
  flex-direction: column;
  margin-top: 5%;
  margin-bottom: 10%;
  background-color: #444;
  margin: 0 auto; /* Centraliza horizontalmente */
  max-width: clamp(320px, 80%, 1200px);
}


/* Ajustes para telas menores */
@media (max-width: 768px) {
  .container {
    padding: 1rem; /* Menos padding em telas pequenas */
  }
}

.menu {
  position: fixed; /* Fixa o menu no topo */
  top: 0;
  width: 100%;
  max-width: clamp(320px, 82%, 1200px);
  background-color: #444;
  padding: 12px 5px;
  margin: 0 auto; /* Centraliza horizontalmente */
  border-radius: 10px;
  z-index: 10; /* Adicionei z-index para garantir que o menu fique em cima */
}

.menu-container { /*Alinhamento dos itens contidos no menu*/
  display: flex; /* Alinhamento horizontal */
  transition: transform 0.3s ease; 
  justify-content: center; /* Centraliza o menu */
  transform: translate(-2px, 15px); /*Move a calsse dos botões no eixo y(horizontal), x(vertical)*/
  gap: 8px; /* Espaçamento lateral dos botões */
}

.menu-itens a {
  text-decoration: none;
  color: white;
  padding: 10px 20px; /* Tamanho vertical dos botões */
  background-color: #2b2525;
  border-radius: 5px; /* Bordas arredondadas */
  transition: transform 0.3s ease; /* Transição suave ao passar o mouse */
}

.menu-itens:hover {
  transform: scale(1.1); /* Aplica o zoom frontal suave */
}

.menu-img {
  width: 45px; /* Largura do elemento como 40 pixels */
  height: auto; /* Altura auto para manter a proporção da imagem */
  border-radius: 5px; /* Bordas arredondadas */
  text-decoration: none; /* Remove qualquer decoração de texto, como sublinhado */
  position: relative; /* Posiciona o elemento de forma relativa em relação à sua posição original */
  top: -15px; /* Move o elemento para cima em -11px em relação à sua posição original */
  display: inline-block; /* Exibe o elemento como um bloco em linha, permitindo ajustes como padding e margin */
  background-color: none;
  transition: transform 0.3s ease; /* Transição suave ao passar o mouse */
}

.menu-img:hover {
  transform: scale(1.1); /* Aplica o zoom frontal suave */
}

#convites {
  padding: 50px 100px;
  border-radius: 10px;
  background-color: #f0f0f0;
  margin-left: 200px;
  margin-top: 65px;
  /* margin: 100px 72px; umenta a margem superior */
  max-width: 50%; /* Aumenta a largura */
  /* justify-content: flex-start; (alinhamento à esquerda)*/
  /* justify-content: center; (alinhamento ao centro)*/
  /* justify-content: flex-end; /(alinhamento à direita);*/
  position: relative;
  top: 50px; /* Move o bloco pra baixo */
}


#lista-convidados {
  padding: 50px;
  list-style: circle;
  position: relative;
  column-count: 2; /* Define o número de colunas */
  column-gap: 100px; /* Espaço entre as colunas */
}

#lista-convidados li {
  display: flex;
  align-items: center; /* Alinha os itens verticalmente no centro */
  margin-bottom: 10px;
}

.check-box-ok {
  accent-color: rgb(28, 128, 28);
}

.check-box-no {
  accent-color: rgb(218, 21, 21);
}

#lista-convidados input[type="checkbox"] {
  margin-right: 10px; /* Espaçamento entre o checkbox e o rótulo */
}

#lista-convidados label {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 3000; /* Fonte normal (não negrito) */
  font-size: 14px;
}

/* Estilo para checkboxes marcados */
#lista-convidados {
  padding: 20px;
  list-style: circle;
  column-count: 2;
  column-gap: 20px;
}

#Confirmações {
  margin-top: 20px;
  font-weight: bold;
  font-size: 15;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.rodape {
  padding: 1rem; /* Espaçamento interno (superior e inferior) */
  color: white;
  bottom: px;
  background: #444;
  text-align: center; /* Centraliza o texto do rodapé */
  font-size: 80%; /* Fonte como 80% do tamanho padrão */
  width: 98%; /* Define o uso de toda a largura disponível */
  margin-top: auto; /* Coloca o rodapé na parte inferior */
  margin-inline: auto; /* Centraliza horizontalmente */
  border-radius: 10px;
}