body {
  background-color: #F08080;
  font-family: Arial, sans-serif;
  font-size: 85%;
  margin: 0 auto; /* Centraliza o conteúdo horizontalmente */
  max-width: clamp(320px, 82%, 100%);
  padding: 3px; 
  position: relative; 
  min-height: 110vh;
  display: flex;
  flex-direction: column;
}

a:link {
  /* Links não visitados */
  color: blue;
}

a:visited {
  /* Links visitados */
  color: purple;
}

a:hover {
  /* Cursor ativo */
  color: red;
  text-decoration: underline;
}

a:active {
  /* Links aivos */
  color: green;
}

.bloco-page {
  padding: 100px 16px; /* alinhamento da lista de nomes a esquerda*/
  border-radius: 10px;
  background-color: #f0f0f0;
  margin: 100px auto; /* Centraliza horizontalmente e move para baixo */
  max-width: clamp(100%, 100%, 100%);
  gap: 10px;
  position: relative;
  top: 3.5cap;
}


#jujuh {
  text-align: center;
}

.jujuh-image {
  max-width: 60%;
  margin: 20px 0;
  border-radius: 10px;
}

.link-container {
  padding-right: -1cm; /* Ajuste conforme necessário */
}

#informacoes {
  padding: 20px;
}

.info-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.info-item i {
  margin-right: 10px;
  color: #4CAF50; /* Verde */
}

.info-item span {
  font-weight: 600;
}

/* Ajustes para telas menores */
@media (max-width: 768px) {
  .container {
    padding: 1rem; /* Menos padding em telas pequenas */
  }
}

.menu {
  position: fixed; /* Fixa o menu no topo */
  top: 0; /* Posiciona o menu no topo */
  width: 100%; /* Ocupa toda a largura da tela */
  max-width: clamp(320px, 82%, 100%); /* Largura máxima */
  background-color: #444;
  padding: 12px 5px; /* Espaçamento interno */
  border-radius: 10px;
  z-index: 10; /* Mantém o menu em cima de outros elementos */
  box-sizing: border-box; /* Inclui o padding na largura total */
  margin:0; /* Remover margem */
}

.menu-container { /*Alinhamento dos itens contidos no menu*/
  display: flex; /* Alinhamento horizontal */
  transition: transform 0.3s ease; 
  justify-content: center; /* Centraliza o menu */
  transform: translate(-2px, 15px); /*Move a calsse dos botões no eixo y(horizontal), x(vertical)*/
  gap: 0.7%; /* Espaçamento lateral dos botões */
}

.menu-itens a {
  text-decoration: none;
  color: white;
  padding: 10px 20px; /* Tamanho vertical dos botões */
  background-color: #2b2525;
  border-radius: 5px; /* Bordas arredondadas */
  transition: transform 0.3s ease; /* Transição suave ao passar o mouse */
}

.menu-itens:hover {
  transform: scale(1.1); /* Aplica o zoom frontal suave */
}

.menu-img {
  width: 43px; /* Largura do elemento como 40 pixels */
  height: auto; /* Altura auto para manter a proporção da imagem */
  border-radius: 5px; /* Bordas arredondadas */
  text-decoration: none; /* Remove qualquer decoração de texto, como sublinhado */
  position: relative; /* Posiciona o elemento de forma relativa em relação à sua posição original */
  top: -15px; /* Move o elemento para cima em -11px em relação à sua posição original */
  display: inline-block; /* Exibe o elemento como um bloco em linha, permitindo ajustes como padding e margin */
  background-color: none;
  transition: transform 0.3s ease; /* Transição suave ao passar o mouse */
}

.menu-img:hover {
  transform: scale(1.1); /* Aplica o zoom frontal suave */
}

#convites {
  padding: 8px 16px; /* alinhamento da lista de nomes a esquerda*/
  border-radius: 10px;
  background-color: #f0f0f0;
  margin: 55px auto; /* Centraliza horizontalmente e move para baixo */
  max-width: 100%; /* Define a largura máxima para centralizar */
  position: relative;
  top: 3.5cap;
}

#lista-convidados {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  padding: 0;
}

#lista-convidados li {
  width: 100%; /* ou use flex-basis: 48% */
  padding-bottom: 5px;
  display: flexbox;
}

.img-thumbnail {
  padding: 1px 13%;
  max-width: 50%;
  justify-content: space-between;
  margin: 20px;
}

.bloco-page-img {
  padding: 200px 16px; /* alinhamento da lista de nomes a esquerda*/
  border-radius: 10px;
  background-color: #f0f0f0;
  margin: 100px auto; /* Centraliza horizontalmente e move para baixo */
  max-width: clamp(100%, 100%, 100%);
  gap: 10px;
  position: relative;
  top: 3.5cap;
}

.fa-cloud-arrow-down {
  color: #F08080;
  padding: 12px 34%; 
  font-size: 60px;
  transition: transform 0.3s ease;
}

.txt-download {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: medium;
  padding: 0px 37%; 
}

.fa-cloud-arrow-down:hover {
  transform: scale(1.5); /* Icon enlarges on hover */
}

.check-box-ok {
  accent-color: rgb(28, 128, 28);
}

.check-box-no {
  accent-color: rgb(218, 21, 21);
}

.detalhes-festa {
  font-family: Segoe 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
}

.presenca {
  font-family: Segoe 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
}

#lista-convidados input[type="checkbox"] {
  margin-right: 10px; /* Espaçamento entre o checkbox e o rótulo */
}

#lista-convidados label {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 300; /* Fonte normal (não negrito) */
  font-size: 12px;
}

/* Estilo para checkboxes marcados */
#lista-convidados {
  line-height: 100%;

}

#Confirmações {
  margin-top: 20px;
  font-weight: bold;
  font-size: 10;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.alan-rodape a {
  text-decoration: none;
  color: #f3f3f3;
}

.rodape {
  padding: 1rem; /* Espaçamento interno (superior e inferior) */
  color: white;
  position: relative;
  background: #444;
  text-align: center; /* Centraliza o texto do rodapé */
  font-size: 80%; /* Fonte como 80% do tamanho padrão */
  max-width: clamp(320px, 100%, 100%);
  margin-top: auto; /* Coloca o rodapé na parte inferior */
  border-radius: 10px;
}