body {
  background-color: #F08080;
  font-family: Arial, sans-serif;
  font-size: 85%;
  margin-inline: auto; 
  max-width: clamp(320px, 80%, 1200px); /* Adaptável ao tamanho da tela *
   /* Centraliza o conteúdo horizontalmente, com margem zero no topo e embaixo */
  padding: 3px; /* Adiciona um espaço interno de 20px em todas as direções */
  position: relative; /* Permite que elementos internos usem posicionamento relativo, com base nesse corpo */
  min-height: 150vh; /* Garante que o corpo tenha pelo menos a altura da tela, se o conteúdo não for suficiente */
  display: flex; /* Define o corpo como um contêiner flexível */ /* Organiza os elementos internos do corpo na direção vertical (coluna) */
}

a:link {
  /* Links não visitados */
  color: blue;
}

a:visited {
  /* Links visitados */
  color: purple;
}

a:hover {
  /* Cursor ativo */
  color: red;
  text-decoration: underline;
}

a:active {
  /* Links aivos */
  color: green;
}

.container {
  display: flex;
  flex-direction: column;
  margin-top: 5%;
  margin-bottom: 10%;
  background-color: #444;
  margin-inline: auto; /* Centraliza horizontalmente */
  max-width: clamp(320px, 80%, 1200px); /* Adaptável ao tamanho da tela */
}

/* Ajustes para telas menores */
@media (max-width: 768px) {
  .container {
    padding: 1rem; /* Menos padding em telas pequenas */
  }
}

.menu {
  position: fixed; /* Fixa o menu no topo */
  top: 0; /* Alinha no topo */
  width: 100%; /* Faz o menu ocupar toda a largura */
  max-width: clamp(320px, 82%, 1200px); /* Igual ao rodapé */
  background-color: #444; /* Cor do menu */
  padding: 12px 5px; /* Espaçamento vertical */
  margin-inline: auto; /* Centraliza horizontalmente */
  border-radius: 10px;
}

.menu-container { /*Alinhamento dos itens contidos no menu*/
  display: flex; /* Alinhamento horizontal */
  transition: transform 0.3s ease; 
  justify-content: center; /* Centraliza o menu */
  transform: translate(-2px, 15px); /*Move a calsse dos botões no eixo y(horizontal), x(vertical)*/
  gap: 8px; /* Espaçamento lateral dos botões */
}

.menu-itens a {
  text-decoration: none;
  color: white;
  padding: 10px 20px; /* Tamanho vertical dos botões */
  background-color: #2b2525;
  border-radius: 5px; /* Bordas arredondadas */
  transition: transform 0.3s ease; /* Transição suave ao passar o mouse */
}

.menu-itens:hover {
  transform: scale(1.1); /* Aplica o zoom frontal suave */
}

.menu-img {
  width: 45px; /* Largura do elemento como 40 pixels */
  height: auto; /* Altura auto para manter a proporção da imagem */
  border-radius: 5px; /* Bordas arredondadas */
  text-decoration: none; /* Remove qualquer decoração de texto, como sublinhado */
  position: relative; /* Posiciona o elemento de forma relativa em relação à sua posição original */
  top: -15px; /* Move o elemento para cima em -11px em relação à sua posição original */
  display: inline-block; /* Exibe o elemento como um bloco em linha, permitindo ajustes como padding e margin */
  background-color: none;
  transition: transform 0.3s ease; /* Transição suave ao passar o mouse */
}

.menu-img:hover {
  transform: scale(1.1); /* Aplica o zoom frontal suave */
}

.rodape {
  padding: 1rem; /* Espaçamento interno (superior e inferior) */
  color: white;
  bottom: px;
  background: #444;
  text-align: center; /* Centraliza o texto do rodapé */
  font-size: 80%; /* Fonte como 80% do tamanho padrão */
  width: 98%; /* Define o uso de toda a largura disponível */
  margin-top: auto; /* Coloca o rodapé na parte inferior */
  margin-inline: auto; /* Centraliza horizontalmente */
  border-radius: 10px;
}